/* Edicion.css */

  .Edicion {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    margin: 10px;
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto heredado */
    display: block; /* Asegura que ocupa todo el ancho del contenedor */
  }
  
  .Edicion:hover,
  .Edicion:focus {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón o hacer foco */
  }
  .Ediciones {
    padding: 2rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
  }
  
  /* Estilo para el año */
  .Edicion h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Estilo para la sede */
  .Edicion h2 {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
  }

  .Torneo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .torneo {
    margin: 10px;
  }
  
  .torneo .logo img {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción original */
  }

  .retroceder {
    background-color: #e74c3c;
    position: absolute; /* Posiciona de forma absoluta */
    bottom: 10px; /* Alinea en el borde inferior */
    right: 10px; /* Alinea a la derecha */
  }
  
  .retroceso:hover {
    background-color: #c0392b;
  }
  